@model Game
@{
    ViewData["Title"] = "Game";
    var game = Model!;
}

<table id="game-grid">
    <caption>Раунд @(new string('I', game.CurrentRoundId + 1)): @game.CurrentRound.Title</caption>
    <tbody>
    @foreach (var (category, i) in game.CurrentRound.Categories.Select((c, i) => (c, i))) {
        <tr>
            <th scope="row">@category.Name</th>
            @foreach (var (question, j) in category.Questions.Select((c, j) => (c, j))) {
                <td data-question="@i-@j"@Html.Raw(game.CompletedQuestions.Contains(question) ? "class=\"completed\"" : "")>@question.Price</td>
            }
        </tr>
    }
    </tbody>
</table>

<div id="question">
    <div class="text"></div>
    <button type="button" class="btn btn-success answer">Я знаю ответ</button>
    <button type="button" class="btn btn-danger skip">Я не знаю ответ</button>
</div>

@section Scripts {
    <script src="~/js/game.js" asp-append-version="true"></script>
}